body {
	position: relative;
	padding: 25px;
	min-height: 100vh;
}

.vertical-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.display-none {
	display: none;
}

.bold {
	font-weight: bold;
}